* {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pec {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.t1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

button {
  margin-top: 30px;
  width: 120px;
  height: 70px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(20, 115, 163);
  color: white;
  font-size: 1.2rem;
}

button:hover {
    background-color: #333;
    color: white;
}

.by {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}